@mixin icon {
  vertical-align: middle;
}

.title {
  width: 30vw;
}

.contents {
  border: 1px solid #0C0C0C;
  text-align: center;
  height: 400px;
  padding-top: 50px; 

  .flame {
    height: 300px;

    .content {
      display: inline-block;

      .hand {
        @include icon;
      }

      .emphasis {
        height: 300px;
      }

      .icon {
        display: none;
        padding: 0 100px;
      }
    }
  }
  
  #player {
    display: inline-block;
  }

  #cpu {
    display: inline-block;
  }

  button {
    padding: 25px 50px;
    border-radius: 30px;
    font-size: 1.5em;
  }
}

#result {
  padding-top: 100px; 
  text-align: center;

  h1 {
    color:#F50009;
    font-size: 50px;
  }

  a {
    color: #3400F9;
    font-size: 30px;
  }
}
